/* app css stylesheet */

.title h1 {
  text-align: center;
  font-size: 35px;
}


.title h2 {
  text-align: center;
  font-size: 15px;
}

.word {
  background-color: coral;
}

.word h2 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
}

.word h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 15px;
}

.guesses {
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  width: 100%;
}

input {
  height: 50px;
  font-size: 45px;
  width: 100px;
  vertical-align: middle;
}

button {
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
}